# Created by https://www.toptal.com/developers/gitignore/api/swiftpm,xcode
# Edit at https://www.toptal.com/developers/gitignore?templates=swiftpm,xcode

### SwiftPM ###
Packages
.build/
xcuserdata
DerivedData/


### Xcode ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Gcc Patch
/*.gcno

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
**/xcshareddata/WorkspaceSettings.xcsettings
**/Pods
*.xcworkspace
**/Assets.xcassets/*
!**/Assets.xcassets/121-5-1-captured.imageset/
!**/Assets.xcassets/Contents.json
!**/Assets.xcassets/finger.imageset
!**/Assets.xcassets/AppIcon.appiconset
!**/Assets.xcassets/AccentColor.colorset
!**/Assets.xcassets/121-5-1.imageset


# End of https://www.toptal.com/developers/gitignore/api/swiftpm,xcode

*.mlmodel
*.DS_Store
API.json